## I. Intro to Python

Your goal in these exercises is to demonstrate an ability manipuate variables and construct basic for loops and if/else statements. You might need to do some googling to figure out parts of each question.  That's totally fine!

In [ ]:
import pandas as pd
import numpy as np

1. Write a Python command in the line below that prints your name in one line.

2. In the cell below, define a variable called `my_range` to be the numbers from 0 to 10 (including 0 but not including 10).

3. Write a `for` loop that prints out all numbers in `my_range`.

4. The command `x%2` will return 0 if `x` is even, and 1 if `x` is odd.   Write a `for` loop that prints each _even_ number in `my_range` and does nothing for the odd numbers.

5. Using `my_range` as defined above, write a `for` loop that prints each number in `my_range` which is divisible by 3, and prints `'XXX'` for those which are not divisible by 3.

6. Assign the variable `my_list` to be an empty list. Using `my_range` as defined above, write a `for` loop that adds all numbers divisible by 3 to `my_list` and then prints the whole list at the very end. _(hint: when you execute this cell, the only output should be `[0, 3, 6, 9]`)_

7. Write a for loop that sums together all of the numbers from 1 to 100 and prints the outcome. _(hint: the outcome should be 5050)_

In [ ]:
# Hint: start with my_number = 0 and use a for loop to add to my_number.

## II. Intro to Dataframes

The dataframe below reads a dataset directly from the website [Inside Airbnb](http://insideairbnb.com/get-the-data.html). It returns a table of Airbnb listings in Boston.

In [ ]:
df = pd.read_csv("http://data.insideairbnb.com/united-states/ma/boston/2021-12-17/visualisations/listings.csv")

1. Write a one line command that prints the column names.

2. Using `loc` find the `neighbourhood` entry for the entry in row 100.

3. Sort the dataframe by price and replace the `NaN` values in the "license" column with the string "No License". _(Hint: to keep these changes permanent in `df`, you'll want to use the optional argument `inplace=True` for both of these tasks)_.  Print the top 5 entries of the dataframe using `head()`.

4. Use the dataframe methods `min()` and `max()` to determine the minimum and maximum values in the "price" column.  Define variables `min_price` and `max_price` and print these variables as output. _(Hint: your output should be two lines long, the first line should be 0 and the second line should be 10000)_

5. Write a one-line command that prints the unique neighborhoods in this dataframe.

6. Print the values counts for each neighborhood using `value_counts()`.

7. Define a new data frame called `df_backbay` that contains only listings in "Back Bay."  Output just the tail of this new dataframe.

8. Define another new dataframe called `df_reviewed` which drops all rows from `df_backbay` where "last_review" is `NaN`. Print the `shape` of this new dataframe. _(Hint: the shape should be (140, 18))_

## III. Joining two DataFrames

In [ ]:
election_data = pd.DataFrame({'precinct':[1, 2, 3],'vote_A': [100, 20, 15], 'vote_B':[350, 5, 3]})
pop_data = pd.DataFrame({'precinct': [1, 3, 4], 'population': [1000, 600, 300]})
more_election_data = pd.DataFrame({'precinct':[4, 5],'vote_A': [10, 20 ], 'vote_B':[30, 80]})

1. The above DataFrame gives voting information and population information for 4 different precincts. Use the `merge` function to combine `election_data` and `pop_data` for the precincts that show up in both DataFrames. Give the resulting DataFrame the name `election_and_pop_data`

2. Use an appropriate concatenation to combine `election_data` and `more_election_data` into one DataFrame that includes `votes_A` and `votes_B` for all 5 precincts

## IV. Intro to Plotting

In this section we'll use the dataframe `df_reviewed` that you constructed above. _(HInt: it should have 140 rows, if this isn't the case, go back and check your work.)_

In [ ]:
import matplotlib.pyplot as plt

1. Make a scatter plot of the longitude and latitude for the listings in your dataframe.

2. Create a scatter plot like the one above, except now color your points by `room_type`.  There should be four possible room types: "Entire home/apt", "Private room", and "Hotel room".  The best way to do this is by constructing a for loop that runs through the room types, defines a slice of the dataframe, and plots the slices one at a time.

3. Create a scatter plot like the one above, except now add a legend.  _(Hint: to add a legend, make sure you label your points and add the command `plt.legend()` before `plt.show()`)_

4. Returning to the full dataframe `df`, create a bar chart illustrating the number of listings in each neighborhood. In the cell below you'll see somethign called `nbhd_dict` this is a dictionary that gives the total number of listing by neighborhood (play around with it and see if you can understand how it works).  Make sure the neighborhood names are readable by doing one of two things: 
  * Rotate the x-axis labels so they are readable; or,
  * Create a horizontal bar chart.