# Getting and Cleaning Data

Your goal in these exercises is to demonstrate an ability to work with variables, boolean statements, for loops, and basic dataframe manipulations.

In [2]:
import pandas as pd
import numpy as np

#### Some Python Basics

1. Define a variable, `L`, to to be the list consisting of all the letters in your fist name. _hint: remember that letters are strings._

2. Using a `for` loop, print each of the letters in `L` on a separate line. _hint: the output of this cell should look like your name written vertically._

3. Using the double equal sign (i.e. `==`) and your list, `L`, write a statement that returns `False`.

4. Change the statement above so that it returns `True`.

#### Some Pandas Basics

For this section we're going to work with data from the 2020 Police-Public Contact Survey (PPCS).  This is a survey that's administed by the DOJ and the Bureau of Justice Statistics to document the nature and characterstics of face-to-face contact between the police and the public.  You can read more about he PPCS here: [https://bjs.ojp.gov/data-collection/police-public-contact-survey-ppcs](https://bjs.ojp.gov/data-collection/police-public-contact-survey-ppcs).

For this assignment, the relevant data and the associated codebook are stored in the HW1 folder. You'll need to consult the codebook for this assignment. Execute the cell below to read in the dataframe from the csv file.

In [148]:
data = pd.read_csv("PPCS_2020/38320-0001-Data.csv", index_col = 0, low_memory=False) # Load the data
data["SCRMCTRL"] = data["SCRMCTRL"].astype("string") # Fix the datatype in the first columns
data.head()

,SCRMCTRL,PPCSWGT,SEQNUM,SEX,AGE,INTTYPE,NONINT,HISP,MODE,PSSTRATA,...,V351B,CHECK_ITEM_K,V352A,V352B,V352C,V352D,V352E,V352F,CHECK_ITEM_L,V353
0,2030002161032563459,915.905846,1,2,3,1,9,1,0,13,...,9,2,9,9,9,9,9,9,2,99
1,2030002161032563459,2184.699712,2,2,1,1,9,1,0,13,...,9,9,9,9,9,9,9,9,9,99
2,2030003137747563459,3684.714053,3,2,5,2,9,1,0,52,...,9,9,9,9,9,9,9,9,9,99
3,2030003137747563459,3262.162995,4,2,4,2,9,1,0,52,...,9,9,9,9,9,9,9,9,9,99
4,2030018355311563459,4172.011055,5,2,3,2,9,2,0,54,...,9,9,9,9,9,9,9,9,9,99

When data is coded as "out of universe" (usually coded as `9` or `99`) that means it doesn't apply to the case in question. For example, V23T asks:
> Have you been pulled over by the police while driving a motor vehicle, NOT including any driving violations captured by camera and ticketed by mail? 

If the respondent answered "no" to this question, then the follow-up question V23U 
> How many times did this happen during the past 12 months?

is coded as "out of universe."  The following questions will be based on the PPCCS data and codebook.

5. How many records are included in the PPCS?  If you obtain this number from the codebook, verify that the number of records indicated by the codebook match the number of records in `data` by getting the number of rows.

6. How many unique households are included in the PPCS?

7. The column "INTTYPE" gives the type of interview for each record.  Recall from our readings on _Data Diplomacy_ that there are many reasons that communities/individuals can feel compelled to participate in data collection or not. Find the number of records marked as "PPCS Noninterview". Exploring the data, can you see any systematic bias in terms of who was not interviewed and why?  Can you think of other reasons that individuals or households might have chosen not to respond?

8. Define a new dataframe, call it `data_male`, which is a slice of the original dataframe where respondents are coded as Male.

9. Using `data_male` and the `value_counts()` function, determine how many male repondents were stopped 3 or more times by police but not in a moving vehicle in the last 12 months.  _hint: this corresponds to item V24A in the codebook._

10. Recall from our reading of _Data Feminism_ that "what gets counted counts." Based on what you see in this data, and based on what you can read in the codebook and supplementary materials, are there any populations that you think aren't being represented in this survey?  Why do you think that's happening?  What do you think could be done differently to make sure these populations are represented?